<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>

<body>
    <h1>{% block title %}Movie List{% endblock %}</h1>

    {% block content %}
    <ul>
        {% for movie in movies %}
        <li>[{{ movie.id }}] - {{ movie.name }} ({{ movie.year }})</li>
        {% endfor %}
    </ul>
    {% endblock %}

    <footer>
        <p>&copy; 2024 Movie App</p>
    </footer>
</body>

</html>
