{% extends '_layout.html' %}

{% block header %}Create Movie{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- {% for field in form %}
    <div class="mb-3">
        <label for="{{field.id_for_label}}" class="form-label">{{field.label}}</label>
        {{field}}
    </div>
    {% endfor %} -->
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" name="name" class="form-control" placeholder="Enter movie name">
    </div>
    <div class="mb-3">
        <label class="form-label">Year</label>
        <input type="number" name="year" class="form-control" placeholder="Enter release year">
    </div>
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label class="form-label">{{ form.position.label }}</label>
                <select class="form-select" name="position">
                    <option selected>Choose position</option>
                    {% for key, val in form.fields.position.choices %}
                    <option value="{{ key }}" {% if key == form.initial.position %}selected{% endif %}>{{ val }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Avatar</label>
        <input type="file" name="avatar" class="form-control" placeholder="Upload movie avatar">
    </div>

    <button class="btn btn-success">Create</button>

</form>

{% endblock %}
