{% extends '_layout.html' %}

{% block header %}Movies{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Year</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
        <tr>
            <th scope="row">{{ movie.id }}</th>
            <td>{{ movie.name }}</td>
            <td>{{ movie.year }}</td>
            <td>
                <a href="/movies/details/{{ movie.id }}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a>
                <a href="/movies/edit/{{movie.id}}" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i></a>
                <!-- <form action="/movies/delete/{{ movie.id }}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i>
                    </button>
                </form> -->
                <a href="/movies/delete/{{movie.id}}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}